<div class="container  min-vh-100" >
  <div class="row mt-5 mb-4">
    <h1><%= @team.name %></h1>
    <p><%= @team.description %></p>
  </div>
  <div class="row mt-5 mb-4">
    <div class="col-md-6">
      <h2>Participants</h2>
      <ul class="list-group">
        <% @team.users.each do |participant| %>
          <li class="list-group-item"><%= participant.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row mt-5">
    <h3>Boards</h3>
    <div class="col-auto mb-4">
      <%=render "boards/board_card", name: "New board for this team", link: new_board_path%>
    </div>
    <% @boards.each do |board| %>
      <div class="col-auto mb-4">
        <%=render "boards/board_card", name: board.name, link: board_path(board)%>
      </div>
    <% end %>
  </div>
</div>
