<div class="container  min-vh-100" >
  <div class="row mt-5 mb-4">
    <h5><%= @team.name %></h5>
    <p><%= @team.description %></p>
  </div>
  <div class="row mt-5 mb-4">
    <div class="col-md-6">
      <h5>Participants</h5>
      <ul class="list-group">
        <% @team.users.each do |participant| %>
          <li class="list-group-item"><%= participant.name %></li>
        <% end %>
        <% if @team.users.length == 0 %>
          <li class="list-group-item">This team is empty!</li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row mt-5">
    <h5>Boards</h5>
    <div class="col-auto mb-4">
      <% if @team.users.include?(current_user) %>
        <%= render "boards/board_card", name: "New board for this team", link: new_board_path(:team_id => get_team_id_from_name(@team.name, current_user.id) )%>
      <%else%>
        <div class="alert alert-warning" role="alert">
          You are not a member of this team. You can't see this teams boards!
        </div>
      <% end %>
    </div>
    <% if @team.users.include?(current_user) %>
      <% @boards.each do |board| %>
        <div class="col-auto mb-4">
          <%=render "boards/board_card", name: board.name, link: board_path(board)%>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
