<%= form_with(model: task) do |form| %>
  <div class="form-group mb-3">
    <%= form.label :title %>
    <%= form.text_area :title, class: "form-control", required: true %>
    <%= form.text_area :description, class: "form-control", required: false%>
    
    <%= form.hidden_field :state_id, value: @state.id %>

   
  </div>
     <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>
