<div class="card mb-3 p-1 bg-">
  <div data-controller="states" class="d-grid d-flex justify-content-between align-items-center mb-1 p-2">
    <span><input data-action="blur->states#changeName keydown.enter->states#changeName" class="form-control border-0" type="text" id="<%= @board.id %>-<%= state.id %>"  value="<%= state.name %>" ></span>
    <%= link_to edit_board_state_path(@board, state), method: :post, class: "link-dark" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
      </svg>
    <% end %>
  </div>
  <div class="d-grid gap-2 ml-1 mr-1">
    <% state.tasks.each do |task| %>
      <%= render 'tasks/task', task: task %>
    <% end %>
  </div>
  <div class="d-grid justify-content-start">
    <%= link_to new_board_state_task_path(@board, state), method: :post, class: "btn bg-transparent rounded-pill" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
      </svg>
      <span class="ml-1">Añade una tarjeta</span>
    <% end %>
  </div>
</div>
