 <%= form_with model: @board, local: true, html: { class: 'needs-validation', novalidate: "" } do |form| %>
  <% if @board.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Please correct the following errors:</h4>
      <ul>
        <% @board.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', id: 'board_name', placeholder: 'Enter board name' %>
  </div>
  <div class="form-group">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, rows: 5, class: 'form-control', id: 'board_description', placeholder: 'Enter board description' %>
  </div>
  <div class="form-group">
    <%= form.label :team_id, 'Team', class: 'form-label' %>
    <%= form.collection_select :team_id, current_user.teams, :id, :name, { prompt: "Choose a team" }, { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="actions mt-3">
    <%= form.submit 'Create Board', class: 'btn btn-primary' %>
    <%= link_to 'Back to Boards', boards_path, class: 'btn btn-secondary' %>
  </div>
<% end %>