<div class="container mt-4">
  <h1>Edit Board</h1>
  <%= form_with model: @board, local: true, html: { class: 'needs-validation', novalidate: "" } do |form| %>
    <% if @board.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Please correct the following errors:</h4>
        <ul>
          <% @board.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control', id: 'board_name', placeholder: 'Enter board name' %>
    </div>
    <div class="form-group">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, rows: 5, class: 'form-control', id: 'board_description', placeholder: 'Enter board description' %>
    </div>
    <div class="actions mt-3">
      <%= form.submit 'Update Board', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', board_path(@board), class: 'btn btn-secondary' %>
      <%= link_to 'Destroy', board_path(@board), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } , class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>